.clock-indices{
    margin-top: 5%;
    color: rgb(0, 184, 184);
    width: 50%;
    height: 200px;
    text-align: Center;
    padding-top: 20px;
}
.clock-BG{
    background:greenyellow;
}
body{padding: 25px;
    background-color: orange;
}